.card-container {
    background-color: var(--neutral-800);
    width: 32%;
    border-radius: 15px;
    border: 1px solid var(--neutral-600);
    padding: 1rem;
}

.top {
    display: flex;
    gap: 1rem;
    margin-bottom: 2.5rem;
}

.header-section {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.header-section > h3 {
    color: var(--neutral-0);
    font-weight: 700;
}

.header-section > p {
    font-size: 0.94rem;
    color: var(--neutral-300);
    font-weight: 400;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom > button {
    padding: 0.4rem 1rem;
    border-radius: 20px;
    background-color: var(--neutral-800);
    border: 1px solid var(--neutral-600);
    color: var(--neutral-100);
    cursor: pointer;
    transition: 0.4s;
    font-weight: 500;
}

.bottom > button:hover {
    background-color: var(--red-400);
    color: var(--neutral-700);
    border: 1px solid var(--red-400);
}

.switch {
    position: relative;
    width: 37px;
    height: 22px;
}

/* hiding the input here */
.switch input {
    opacity: 0;
}

/* The track that shows the background of the "check ball" input */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #4b5563; /* gray like your second image */
    transition: 0.4s;
    border-radius: 24px;
}

/* ball */
.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

/* controlls the ball */
input:checked + .slider:before {
    transform: translateX(15px);
}

/* When checkbox is checked --> (active) */
input:checked + .slider {
    background-color: var(--red-400) 
}

