/*  400, 500, 700 */


.filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.filter-container > h2 {
    color: hsl(200, 60%, 99%);
    font-size: 2rem;
}

.btn-container {
    display: flex;
    gap: 0.6rem;
}

.btn-container > button {
    border-radius: 20px;
    padding: 0.6rem 1.2rem;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 500;
}

.active {
    background-color: var(--red-400);
    color: var(--neutral-700);
    border: 2px solid var(--red-400);

}

.active:focus {
    outline: 2px solid var(--red-400);
    border: 2px solid var(--neutral-700);
}

.active:hover {
    background-color: var(--red-500);
    border: 2px solid var(--red-500);
}

.inactive {
    background-color: hsl(225, 23%, 24%);
    color: var(--neutral-100);
    border: 1px solid var(--neutral-600);
}

.inactive:focus {
    outline: 2px solid var(--red-400);
    border: 1px solid var(--neutral-700);
    background-color: var(--neutral-600);
}

.inactive:hover {
    background-color: var(--neutral-600);
}


