.heady {
    background-color: var(--card-bg);
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 1rem;
    border-radius: 20px;
    margin-bottom: 3rem;
}

.headL {
    display: flex;
    align-items: center;
}

.toggler {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 0.9rem;
    border-radius: 15px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: 0.4s;
}


.togglerD {
    background-color: var(--neutral-700);
}
  
.togglerL {
    background-color: var(--neutral-100);
}
  
.togglerD:focus,
.togglerL:focus {
    outline: 2px solid var(--red-400);
    border: 2px solid var(--neutral-700);
}
  