.heady {
    background-color: var(--neutral-800);
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 1rem;
    border-radius: 20px;
    margin-bottom: 3rem;
}

.headL {
    display: flex;
    align-items: center;
}

.togglerD {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background-color: var(--neutral-700);
    padding: 0.9rem;
    border-radius: 15px;
    cursor: pointer;
    border: 2px solid transparent;
}

.togglerD:focus {
    outline: 2px solid var(--red-400);
    border: 2px solid var(--neutral-700);
    background-color: var(--neutral-600);
}

.togglerD:hover {
    background-color: var(--neutral-600);
}

.togglerL {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background-color: var(--neutral-700);
    padding: 0.9rem;
    border-radius: 15px;
    cursor: pointer;
    border: 2px solid transparent;
}

.togglerL:focus {
    outline: 2px solid var(--red-400);
    border: 2px solid var(--neutral-700);
    background-color: var(--neutral-600);
}

.togglerL:hover {
    background-color: var(--neutral-600);
}


