.heady {
    background-color: var(--neutral-800);
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 1rem;
    border-radius: 20px;
    margin-bottom: 3rem;
}

.headL {
    display: flex;
    align-items: center;
}

.toggler {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background-color: hsl(225, 23%, 24%);
    padding: 0.9rem;
    border-radius: 15px;
    cursor: pointer;
    border: 2px solid transparent;
}

.toggler:focus {
    outline: 2px solid var(--red-400);
    border: 2px solid var(--neutral-700);


}

.toggler:hover {
    background-color: var(--neutral-600);
}

